:root {
    --color-background-primary: rgb(41, 53, 148);
    --color-background-secondary: rgb(144, 188, 41);
    --color-background-third: rgb(233, 233, 233);

    --color-background-hover: rgba(0, 0, 0, 0.2);

    --color-background-button-common: rgb(204, 204, 204);
    
    --color-background-track: rgba(0, 0, 0, 0.05);
    --color-background-thumb: var(--color-background-button-common);

    --color-primary: rgb(247, 247, 247);
    --color-inactive: grey;
    --color-secondary: rgb(22, 22, 22);
    
    --color-border: rgba(135, 138, 146, 0.3);
    --color-border-hover: rgba(135, 138, 146, 1);
    --color-border-focus: rgb(134, 151, 238);

    --color-box-shadow: rgba(34, 60, 80, 0.15); 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*#region header*/

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--color-background-primary);
    fill: var(--color-primary);
    color: var(--color-primary);
}

header svg {
    margin-right: 5px;
}

header h1 {
    display: flex;
    align-items: center;
}
header h1 svg {
    width: 1.6em;
}

header .header-login-panel {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

header .header-login-panel svg {
    width: 1.2em;
}

header .header-login-panel .login-element {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 5px;
    border-radius: 15px;
}

header .header-login-panel .login-element:first-child {
    margin-left: 0;
}

header .header-login-panel .login-element:last-child {
    margin-right: 0;
}

header .header-login-panel .login-element:hover {
    fill: var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

/*#endregion*/

/*#region nav*/

nav {
    display: flex;
    justify-content: center;
    background-color: var(--color-background-third);
    padding: 5px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-secondary);
    fill: var(--color-secondary);
    border-radius: 15px;
    margin: 0px 10px;
    padding: 5px 10px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

nav ul li a:hover::after {
    background-color: var(--color-background-hover);  
    transition: background-color 0.3s ease;  
}

nav ul li a svg {
    width: 1.3em;
    z-index: 1;
}

nav ul li a span {
    z-index: 1;
}

nav ul li a.nav-item-selected {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    fill: var(--color-primary);
}

/*#endregion*/

main {
    display: flex;
    justify-content: center;    
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

/*#region footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer #footerVersion {
    font-weight: bold;
}

/*#endregion*/

.page-content {
    max-width: 1024px;
}

/*#region button-common*/ 

.button-common {
    position: relative;
    cursor: pointer;
    display: flex;
    background-color: var(--color-background-button-common);
    padding: 5px;
    border-radius: 5px;
}

.button-common::after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.button-common:hover::after {
    background-color: var(--color-background-hover);
}

/*#endregion*/

/*#region dropdown*/

.dropdown {
    position: relative;
    display: flex;
    flex-direction: column;
    height: fit-content;
    --dropdown-font: font;
}

.dropdown .dropdown-title {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    background-color: white;
    border: 1px solid var(--color-border);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: none;
    padding: 5px;
    z-index: 3;
    font: var(--dropdown-font);
}

.dropdown.dropdown-closed .dropdown-title {
    border-radius: 5px;
    border: 1px solid var(--color-border);
}

.dropdown .dropdown-title .dropdown-arrow {
    --size: 0.4em;
    position: relative;
    top: 0.3em;
    border-top: var(--size) solid black;
    border-left: var(--size) solid transparent;
    border-right: var(--size) solid transparent;
    border-bottom: var(--size) solid transparent;
    margin-right: 5px;
}

.dropdown .dropdown-scroll {
    position: absolute;
    top: 100%;
    width: 100%;
    max-height: 200px;
    list-style: none;
    border: 1px solid var(--color-border);
    border-top: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: 0px 0px 4px 1px var(--color-box-shadow),
                0px -1.8em 4px 1px var(--color-box-shadow);
    overflow-y: auto;
    z-index: 2;
    margin: 0;
    padding: 0;
}

.dropdown.dropdown-closed .dropdown-scroll {
    display: none;
}

.dropdown .dropdown-scroll .dropdown-scroll-view {
    display: flex;
    flex-direction: column;
}

.dropdown .dropdown-scroll .dropdown-scroll-view li {
    cursor: pointer;
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.02);
    width: 100%;
}

.dropdown .dropdown-scroll .dropdown-scroll-view li .dropdown-item-value {
    user-select: none;
}

.dropdown .dropdown-scroll .dropdown-scroll-view li:hover {
    background-color: var(--color-background-hover);
}

.dropdown .dropdown-scroll::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.dropdown .dropdown-scroll::-webkit-scrollbar-track {
    background-color: var(--color-background-track);
}

.dropdown .dropdown-scroll::-webkit-scrollbar-thumb {
    background-color: var(--color-background-thumb);
    border-radius: 3px;
}

.dropdown .dropdown-scroll::-webkit-scrollbar-corner {
    border-radius: 5px;
}

.dropdown .dropdown-scroll .dropdown-scroll-view li.current-item {
    font-weight: bold;
    background-color: rgba(0,0,0,0.03);
}

/*#endregion*/

/*#region date-period*/

.date-period {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--color-border);
}

.date-period svg {
    width: 1.2em;
}

.date-period .date-period-input {
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.date-period .date-period-input .date-period-value {
    color: var(--color-inactive);
}

.date-period .date-period-input .date-period-icon {
    margin: 0 5px;
}

.date-period .date-period-refresh {
    fill: var(--color-inactive);
}

/*#endregion*/