:root {
    --background-primary: #293594;
    --background-secondary: #90bc29;
    --background-third: #e9e9e9;
    --background-hover: rgba(0, 0, 0, 0.3);
    --color-primary: #f7f7f7;
    --color-secondary: #161616;
    --color-border: rgb(208, 211, 224);
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

/*#region header*/

header {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: var(--background-primary);
    fill: var(--color-primary);
    color: var(--color-primary);
}

header svg {
    margin-right: 5px;
}

header h1 {
    display: flex;
    align-items: center;
}
header h1 svg {
    width: 1.6em;
}

.header-login-panel {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header-login-panel svg {
    width: 1.2em;
}

.header-login-panel .login-element {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 5px;
    border-radius: 15px;
}

.header-login-panel .login-element:first-child {
    margin-left: 0;
}

.header-login-panel .login-element:last-child {
    margin-right: 0;
}

.header-login-panel .login-element:hover {
    fill: var(--color-secondary);
    color: var(--color-secondary);
    background-color: var(--color-primary);
}

/*#endregion*/

/*#region nav*/

nav {
    display: flex;
    justify-content: center;
    background-color: var(--background-third);
    padding: 5px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--color-secondary);
    fill: var(--color-secondary);
    border-radius: 15px;
    margin: 0px 10px;
    padding: 5px 10px;
}

nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

nav ul li a:hover::after {
    background-color: var(--background-hover);  
    transition: background-color 0.3s ease;  
}

nav ul li a svg {
    width: 1.3em;
    z-index: 1;
}

nav ul li a span {
    z-index: 1;
}

.nav-item-selected {
    background-color: var(--color-secondary);
    color: var(--color-primary);
    fill: var(--color-primary);
}

/*#endregion*/

main {
    display: flex;
    justify-content: center;    
}

/*#region footer*/

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

footer #footerVersion {
    font-weight: bold;
}

/*#endregion*/

.page-content {
    width: 70%;
}